/build/
/build1/
/build-rnd/
/GPATH
/GRTAGS
/GTAGS
/ext/
/debug/
/static/
/dsa-seahorn/
/crab-llvm/
*.pyc
*.pyo
/llvm-seahorn/
/seahorn-llvm/
/gtags.files

.mypy_cache
.vscode
.sync
.tags
.tags1
.ipynb_checkpoints
terraform.tfstate
terraform.tfstate.backup*
tools/deep_bench/windows/files/ice.zip
tools/deep_bench/windows/files/mcmc.zip
tools/deep_bench/**/.terraform
tools/deep_bench/**/playbook.retry
tools/deep_bench/**/playbook.retry
tools/deep_bench/windows/clusterjobs.log
tools/deep_bench/windows/out-*.tar.gz
tags
bench_horn_rel/extra_benchs/
bench_horn_rel/COUNTER_TSVC_benchs/scripts/
bench_horn_rel/COUNTER_TSVC_benchs/benchmark_files/different_unroll_config/
bench_horn_rel/COUNTER_TSVC_benchs/benchmark_files/results.txt
bench_horn_rel/pldi19_TSVC_benchs/scripts/
*.sh
bench_horn_rel/COUNTER_TSVC_benchs/benchmark_files/TSVC/run1/
bench_horn_rel/COUNTER_TSVC_benchs/benchmark_files/TSVC/run2/

